{% extends "layout/wiki_base.html" %} {% block wiki_content %} {% set name =
handler.domain.ui.name|default(model.system.get('server.name')) %} {%- for
section in sections -%}
<div class="section" data-heading-extract-to="#menu-item-wiki_about">
  <div class="section__header">
    <h1 class="section__title" id="about-phxoj" data-heading>
      {{ About PhxOJ }}
    </h1>
  </div>
  <div class="section__body typo">
    <p>
      {{_("This the new Online Judge for CUHK-SZ. It is still under development.
      You may find the previous Online Judge, SchOJ, via oj.cuhk.edu.cn..")}}
    </p>
  </div>
</div>
<div class="section" data-heading-extract-to="#menu-item-wiki_about">
  <div class="section__header">
    <h1 class="section__title" id="contact" data-heading>{{ Contact }}</h1>
  </div>
  <div class="section__body typo">
    <p>
      {{_("If you have any problems regarding the course, kindly seek for some
      help from the responsible Teaching Assistant.")}}
    </p>
    <p>
      {{_("Any bugs or suggestions can be raised using the discussion node in
      system part. You may also want to contact the OJ's administrator, Tianci
      Hou through tiancihou@link.cuhk.edu.cn")}}
    </p>
  </div>
</div>
{%- endfor -%} {% endblock %}
